{% extends "base.html.twig" %}

{# Page de l'ajout d'un vahicule au showroom (formulaire) #}
{% block title %}Ajout d'une voiture au garage{% endblock %}

{# {% form_theme myform _self %} #}
{# plus besoin de cette ligne car j'ai initié par défaut le style des formulaires #}
{% form_theme myform 'voitures/_collection.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Ajout d'une nouvelle voiture au garage</h1>
        {{form_start(myform)}}
            <div class="container">
                <div>
                    {{form_widget(myform)}}
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Création d'une annonce</button>
        {{form_end(myform)}}
    </div>
{% endblock %}



{% block javascripts %}
     {{encore_entry_script_tags('annonce')}}
{% endblock %}