{% extends "base.html.twig" %}

{# Page du formulaire de l'ajout d'un véhicule au showroom (formulaire) #}
{% block title %}Ajout d'une voiture au garage{% endblock %}

{# {% form_theme myform _self %} #}
{# plus besoin de cette ligne car j'ai initié par défaut le style des formulaires #}
{% form_theme myform 'voitures/_collection.html.twig' %}

{% block body %}

    <div class="container my-4">
        <h1 style="margin-bottom: 50px; margin-top: 30px; text-align:center;">Ajout d'une nouvelle voiture au garage</h1>
        <p style="text-align:center;"><b>Entrez les données correspondant à la voiture que vous souhaitez vendre pour l'ajouter au showroom</b></p>
        {{form_start(myform)}}
            <div class="container" style="background-color:  rgba(255, 170, 22, 0.1); padding: 20px; border-radius: 20px;">
                <div>
                    
                    {{form_widget(myform)}}

                    
                    
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Ajouter le véhicule au showroom</button>
        {{form_end(myform)}}
    </div>
{% endblock %}



{% block javascripts %}
     {{encore_entry_script_tags('annonce')}}
{% endblock %}