{# affichage de la page d'accueil #}
{% extends 'base.html.twig' %}

{% block title %}- Old Garage -{% endblock %}

{% block body %}
    <div class="slide" id="home">
       
            <div id="logo">
               
            </div> 
     
    </div>
    <div class="slide" id="about">
        <div class="container">
            <div class="card" id="pres">
                <h2>- ABOUT -</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aperiam ipsam, unde hic veniam delectus similique. Eaque et labore eligendi, laborum adipisci est? <strong> sit eveniet quibusdam recusandae maiores repellat </strong> officia quia quisquam illo perferendis exercitationem sunt voluptate, quidem, sequi voluptatem numquam adipisci?  Facilis ea officia, maiores consequatur vitae enim assumenda nisi, aperiam aliquid dignissimos nesciunt voluptatem laudantium et <strong>eligendi inventore a expedita. Aut aliquid alias odio officiis </strong></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quisquam saepe facere hic! Aliquam repudiandae porro dignissimos ea commodi repellendus nostrum numquam reiciendis excepturi necessitatibus, iusto eum aspernatur provident, non odit placeat maxime inventore at minima accusamus! Ipsa porro ipsam doloribus commodi soluta, magni, totam quaerat, eum cum nostrum nemo.</p>
            </div>
            
        </div>
        <div class="gal" >
            <div class="row justify-content-center">
                <div class="col-md-3 my-5 m-3" id='garage1'></div>
                <div class="col-md-3 my-5 m-3" id='garage2'></div>
                <div class="col-md-3 my-5 m-3" id='garage3'></div>
            </div>
        </div>
        <div class="contact" id="address">
            <div class="row justify-content-center">
                <div class="card col-5 mx-5">
                    <h2>- NOUS TROUVER -</h2>
                    <p>Adresse : Rue de l'avenue, 21 - 7822 Ghislenghien</p>
                    <p>Téléphone: 0478/34.45.23 </p>
                    <button class="btn btn-dark"> Nous contacter</button>
                </div>
            </div>           
        </div>
    </div>

           

          
            
           
{% endblock %}
       


